* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}


/* video slider*/

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 20px;
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .nav-bar {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .nav-bar li {
    list-style: none;
    margin: 5px;
    background: #fff;
    border-radius: 4px;
    padding: 3px 3px 3px;
    transition: all .7s ease-in-out;
    cursor: pointer;
    opacity: .7;
    transition: .5s ease-in-out;
}

section .nav-bar li:hover {
    opacity: 1;
}

.nav-bar li img {
    width: 120px;
    transition: .6s;
}

.nav-bar li img:hover {
    width: 200px;
}


/* video slider*/

#first {
    background-image: url(../images/2.jpg);
    height: 800px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item {
    background-color: white;
    margin-top: 50px;
    border-radius: 25px;
    overflow: hidden;
    animation: mlr 2s;
}

.item img {
    width: 100%;
    height: 100%;
}

.photo {
    background-image: url(../images/3.jpg);
    height: 200px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 85%;
}

.inputs {
    margin-top: 70px;
}

.form-group input {
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid rgb(165, 219, 181);
    box-shadow: none;
    outline: none;
    box-shadow: 0px 0px 4px 0 darkgreen;
}

.form-group textarea {
    border-radius: 10;
    border: none;
    border-bottom: 1px solid rgb(165, 219, 181);
    box-shadow: 0 0 8px 0 darkgreen;
    outline: none;
}

::-webkit-input-placeholder {
    color: rgb(57, 110, 73)!important;
}

.btn {
    border-radius: 30px;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    margin-left: 50%;
}

.btn:hover {
    background-color: rgb(117, 103, 103);
    color: white;
    border: 1px solid rgb(117, 103, 103);
}

@keyframes mlr {
    0% {
        transform: translateX(-1500px);
    }
    100% {
        transform: translateX(0px);
    }
}

.ahmed {
    position: relative;
}

span {
    position: absolute;
    top: 10px;
    left: 90%;
}

#icon1 {
    position: absolute;
    left: 5px;
    opacity: 0;
    width: 20px;
    height: 20px;
}

#icon2 {
    position: absolute;
    left: 5px;
    width: 20px;
    opacity: 1;
    height: 20px;
}

#method {
    position: absolute;
    left: 5px;
    width: 20px;
    z-index: 999;
    height: 20px;
    opacity: 0;
}